#stage-container {
    height: 20rem;
    border: black solid 2px;
    margin-top: 2rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
#stage-container canvas {
  width: 100%;
  height: 100%;
}
#playerbuttons {
    /* width:100%, text-align:center centers the buttons */
    width: 100%;
    text-align: center;
    
    margin-top: 2px;
    margin-bottom: 1rem;
}
#play {
    width: 5em;
}
