/* use san serif font cause I likes it */
body {
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 16px;
}

body{
    margin: 0 auto;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    color: #444444;
    line-height: 1.5;
    padding: 0.5rem;
}
h1, h2, h3, h4 {
    color: #111111;
    font-weight: 400;
}
h1, h2, h3, h4, h5 {
    margin-bottom: 1.5rem;
    padding: 0;
}
h1 {
    font-size: 1.5rem;
}
h2 {
    font-size: 1.5rem;
    /* The bottom margin is small. It's designed to be used with gray meta text
     * below a post title. */
    margin: 1.5rem 0 0.5rem;
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1.25rem;
}
h5 {
    font-size: 1rem;
}
a {
    color: #0099ff;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
a:hover {
    text-decoration: none;
    color: #ff6600;
}
a:visited {
    color: purple;
}
ul, ol {
    padding: 0;
    margin: 2rem;
}
li {
    line-height: 1.5;
}
li ul, li ul {
    margin-left: 1.5rem;
}
p, ul, ol, nav {
    font-size: 1rem;
}
pre {
    padding: 0 1rem;
    white-space: pre-wrap;
}
code {
    font-family: Consolas, Monaco, Andale Mono, monospace;
    line-height: 1.5;
    font-size: 0.75rem;
}

/* bar above and blow inset aside */
aside {
    line-height: 1.25;
    font-size: 1.25rem;
    padding: 0.5rem;
    margin: 1rem;
    border-top: solid black;
    border-bottom: solid black;
}

nav {
    padding: 0 1rem 0 1rem;
}
nav a {
    display: list-item;
    margin-left: 1rem;
    margin-right: 1rem;
}

/* custom classes */
.masthead {
    padding: 1rem 1rem 1.5rem 1rem;
    margin-bottom: 1rem;
    background-color: #DDD;
}
.masthead p, .masthead h1 {
    font-size: 40px;
}
a.home {
    float: right;
    font-size: 1rem;
}

/* responsive columns */
body{
   max-width: 72rem;
}

/* center the header */
h1 {
    text-align: center;
}

/*
** leave some space for readability
*/
p {
    margin: 0.5rem;
}
h2, h3, h4, h5 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

/*
** Responsive Columns
**
** we start with a one column layout suitable
** for mobile devices and above.
*/
.row {
    width: 100%;
    clear: both; /* clear float to return columns to left */
}
.column {
    width: 100%;
}

/*
** this kludge clears the float at the end of the row
** and makes it so that the row container's height encompasses
** all the child columns.
** see http://www.positioniseverything.net/easyclearing.html
*/
.row:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/*
** enhance layout to support two columns
** for tablets and above
*/
@media screen and (min-width: 720px) {
    /*
    ** float is required to get columns to go side-by-side
    */
    .column {
        float: left;
    }

    /*
    ** enhance with two columns
    */
    .double.column {
        width: 50%;
    }

    /*
    ** Three columns is rendered as two columns
    ** on a tablet device.
    */
    .triple.column {
        width: 50%;
    }

    /*
    ** we want reset the float at the third column
    ** then center it.
    */
    .third.triple.column {
        clear: both;
    }
    .third.triple.column.wideorphan {
        width: 100%;
    }
    .third.triple.column.centerorphan {
        position: relative;
        left: 25%
    }

    /*
    ** enhance to support 2 stacked columns for
    ** 4 column content on tablets.
    */
    .quad.column {
        width: 50%;
    }

    /* force break after second column */
    .third.quad.column {
        clear: both;
    }
}

/*
** enhance with full three columns for
** large screen devices.
*/
@media screen and (min-width: 1024px) {
    /*
    ** enhance to show full three columns
    ** on large screen devices
    */
    .triple.column {
        width: 33%;
    }

    /*
    ** reset float because we want the third column
    ** to be float inline with the others.
    */
    .third.triple.column {
        clear: none;
    }

    /* reset to three columns */
    .third.triple.column.wideorphan,
    .third.triple.column.centerorphan
    {
        position: inherit;
        width: 33%;
    }


    /*
    ** enhance with four columns
    */
    .quad.column {
        width: 25%;
    }

    /* clear break after second column */
    .third.quad.column {
        clear: none;
    }
}

/*
** use larger font for hd screens
** and televisions.
*/
@media screen and (min-width: 1440px) {
    body {
        font-size: 24px;
    }
}
