body{
    margin: 0 auto;
    font-family: Georgia, Palatino, serif;
    color: #444444;
    line-height: 1;
    padding: 30px;
}
h1, h2, h3, h4 {
    color: #111111;
    font-weight: 400;
}
h1, h2, h3, h4, h5 {
    margin-bottom: 24px;
    padding: 0;
}
h1 {
    font-size: 24px;
}
h2 {
    font-size: 24px;
    /* The bottom margin is small. It's designed to be used with gray meta text
     * below a post title. */
    margin: 24px 0 6px;
}
h3 {
    font-size: 24px;
}
h4 {
    font-size: 20px;
}
h5 {
    font-size: 16px;
}
a {
    color: #0099ff;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
a:hover {
    text-decoration: none;
    color: #ff6600;
}
a:visited {
    color: purple;
}
ul, ol {
    padding: 0;
    margin: 2em;
}
li {
    line-height: 24px;
}
li ul, li ul {
    margin-left: 24px;
}
p, ul, ol, nav {
    font-size: 16px;
    line-height: 1.5em;
}
pre {
    padding: 0px 24px;
    white-space: pre-wrap;
}
code {
    font-family: Consolas, Monaco, Andale Mono, monospace;
    line-height: 1.5;
    font-size: 13px;
}

/* bar above and blow inset aside */
aside {
    line-height: 1.25;
    padding: 0.5em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    border-top: solid black;
    border-bottom: solid black;
}

nav {
    padding: 0 1em 0 1em;
}
nav a {
    display: list-item;
    margin-left: 1em;
    margin-right: 1em;
}

/* custom classes */
.masthead {
    padding: 1em 1em 1.5em 1em;
    margin-bottom: 1em;
    background-color: #DDD;
}
.masthead p, .masthead h1 {
    font-size: 40px;
}
a.home {
    float: right;
}

/* responsive columns */
body{
    max-width: 960px;
}

.main-content {
}

